//
#navlogo{
    text-align: center;
    background-color: red;
}
#footer{
    background-color: black;
    text-align: center;
    color:white;
}
.immagine{
  width: 100%;
}
.home{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
}
.thumbs{
    text-align: center;
    border: solid 2px white;
    width: 15%;
    height: auto;
    color: white;
    margin: 15px auto;
}

.nav{
    background-image: url("C:/Users/valer/OneDrive/Desktop/esercitazioniboolean/vue-dc-comics/src/assets/img/jumbotron.jpg");
}
