#navlogo {
  text-align: center;
  height: 300px;
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-size: cover;
}

#footer {
  background-color: black;
  text-align: center;
  color: white;
}

.immagine {
  width: 100%;
}

.home {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: black;
}

.thumbs {
  text-align: center;
  border: solid 2px white;
  width: 15%;
  height: auto;
  color: white;
  margin: 15px auto;
}

.nav {
  height: 50px;
  display: flex;
  background-color: white;
}

.info {
  background-color: blue;
  height: 100px;
}

.socials {
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
  height: 280px;
  background-color: black;
}

#sx {
  float: left;
}

#dx {
  float: right;
}

.bigLogo {
  width: 780px;
  height: 280px;
  -o-object-fit: none;
     object-fit: none;
}

.iscriviti {
  height: 130px;
  background-color: grey;
}

.linkdisx {
  height: 40px;
  float: left;
}

.linkdidx {
  float: right;
  height: 40px;
  display: block;
}

h3 {
  color: white;
  display: inline-block;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style: none;
}

